.content-layer-list-file {
  position: relative;
  z-index: 3;
  height: 100vh;
  overflow-y: scroll;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 125px;
}

.logo-container img {
  width: 132px;
  padding: 24px 0;
}

.language-switcher {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.language-btn {
  background: none;
  border: none;
  color: white;
  font-size: 0.75rem;
  padding: 5px 10px;
  cursor: pointer;
}

.language-btn img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.language-btn.active img {
  padding: 1px;
  border: 1px solid #fff;
  border-radius: 100px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 500px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: auto;
  margin: 6px 10px;
  padding: 10px 24px;
  border: 1px solid #ccd1d9;
  font-size: 15px;
  border-radius: 6px;
  font-weight: 600;
}

.dropdown-item.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  margin: 0 10px;
  padding: 10px 24px;
  background-color: #e1edff;
  font-size: 15px;
  border-radius: 6px;
  border: none;
  color: #206de5;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff66;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  font-weight: 600;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: -68%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-image: url(../assets/icons/icon-active-tab.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.nav-icon {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background: linear-gradient(to top, #10449e66, #10449e);
}

.active .nav-icon {
  border: 1px solid #fff;
  background: transparent;
}

.nav-icon img {
  width: 2rem;
}

.nav-item.active {
  color: #fff;
}

.content-area {
  background-color: white;
  border-radius: 36px 36px 0 0;
  padding: 36px 125px !important;
  min-height: calc(100vh - 180px);
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.content-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}

.content-count {
  font-size: 0.875rem;
  color: #989ba2;
  font-weight: normal;
}

.filter-dropdown {
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 500;
  color: #313741;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter-dropdown i {
  margin-left: 8px;
}

.create-btn-file {
  background-color: var(--secondary-pink);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  gap: 10px;
  width: -webkit-fill-available;
  font-size: 16px;
  font-weight: 700;
  min-width: 185px;
  height: 52px;
}

.create-btn-file img {
  background-color: #fff;
  height: 28px;
  width: 28px;
  padding: 4px;
  border-radius: 50px;
}

.document-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
  gap: 20px;
}

.document-card {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.document-image-container {
  position: relative;
  background-color: #dfe4ed;
}

.document-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.document-title-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  height: 100%;
  background: linear-gradient(to top, #173363e5, #1733630d);
  display: flex;
  flex-direction: column-reverse;
  padding: 16px;
  border-radius: 12px;
}

.groups-document-info {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #3b3b3b;
  font-size: 15px;
}

.form-select {
  font-size: 15px !important;
}

.groups-document-info img {
  height: 16px;
}

.document-type {
  color: var(--bs-primary);
  font-weight: 600;
}

.document-type img {
  background-color: var(--bs-primary);
  padding: 2px;
  border-radius: 4px;
}

.document-title {
  font-size: 20px !important;
  font-weight: 700;
  margin-bottom: 0;
}

.document-title-bottom {
  background-color: #dfe4ed;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  font-size: 12px;
}

.document-count {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333;
}

.document-time {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333;
}

.document-menu {
  font-size: 16px;
}

.footer {
  padding: 20px 125px;
  text-align: center;
  background-color: white;
  border-top: 1px solid #c9d0db;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 50.65px;
}

.marketai-logo {
  height: 48px;
}

.footer-right {
  text-align: right;
  display: flex;
  align-items: center;
  height: 100%;
}

.product-text {
  font-size: 12px;
  color: #666;
  margin-right: 5px;
}

.groups-store {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.qr-code {
  height: 5rem;
}

.app-store-links {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app-store-btn {
  width: 120px;
  margin-right: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .document-grid {
    /* grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); */
    gap: 15px;
  }

  .content-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .filter-dropdown {
    flex-grow: 1;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-right {
    margin-top: 20px;
    text-align: center;
  }

  .app-store-links {
    justify-content: center;
  }
}
