/* Language Selector */
.language-selector {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 4;
  display: flex;
  gap: 10px;
}

.language-selector__btn {
  display: flex;
  align-items: center;
  color: var(--white-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.language-selector__btn--active img {
  padding: 1px;
  border: 1px solid var(--white-color);
  border-radius: 100px;
}

.language-selector__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

/* Login Page */
.app-login {
  position: relative;
  z-index: 3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vh 1rem;
}

.app-login__logo {
  margin-bottom: 2rem;
}

.app-login__container {
  max-width: 450px;
  width: 100%;
}

.app-login__title {
  color: var(--white-color);
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.app-login__card {
  background-color: var(--white-color);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.app-login__info {
  background-color: var(--bg-card-info);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.app-login__info-text {
  margin-bottom: 0;
  color: var(--text-card-info);
  font-size: 0.9375rem;
}

.app-login__form-group {
  margin-bottom: 1.25rem;
}

.app-login__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.app-login__input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.app-login__btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s;
  margin-top: 1.5rem;
}

.app-login__btn--primary {
  background-color: var(--bg-primary);
  color: var(--white-color);
}

.app-login__forgot {
  margin-top: 1rem;
  text-align: left;
}

.app-login__link {
  color: var(--text-link);
  text-decoration: none;
}

.app-login__link:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .login__card {
    padding: 2rem;
  }
}
