.content-layer-login {
  position: relative;
  z-index: 3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 10vh 0;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 160px;
}

.login-container {
  max-width: 550px;
  width: 100%;
  padding: 20px;
}

.login-card {
  background-color: white;
  border-radius: 12px;
  padding: 28px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.login-title {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.info-box {
  background-color: #d2ecf1;
  border-radius: 8px;
  padding: 15px;
  font-size: 0.875rem;
  margin-bottom: 20px;
  color: #366a92;
}

.info-box a {
  color: #0275d8;
  text-decoration: none;
}

.info-box a:hover {
  text-decoration: underline;
}

.form-control {
  padding: 10px 15px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn-login {
  background-color: #007bff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.forgot-link {
  text-align: center;
}

.forgot-link a {
  color: #0275d8;
  font-size: 0.875rem;
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
}
