.content-layer-login {
  position: relative;
  z-index: 3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 10vh 0;
}

.language-btn img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.logo img {
  width: 10rem;
}

.login-container {
  max-width: 550px;
  width: 100%;
  padding: 16px 32px;
}

.info-box {
  background-color: #d2ecf1;
  border-radius: 8px;
  font-size: 15px;
  color: #366a92;
}

.form-control {
  padding: 10px 15px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.btn-login {
  background-color: #007bff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.forgot-link {
  text-align: center;
}

.forgot-link a {
  color: #0275d8;
  font-size: 0.875rem;
  text-decoration: none;
}

.forgot-link a:hover {
  text-decoration: underline;
}
