@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg-primary: #206de5;
  --secondary-pink: #f35488;
  --white-color: #ffffff;
  --text-default: #313741;
  --text-link: #0275d8;
  --bg-card-info: #d2ecf1;
  --text-card-info: #366a92;
  --bg-gradient: linear-gradient(to bottom, #196af4eb, #124cb1, #0f3d8e);
  --bs-primary: #206de5;
  --bs-nav-link-hover-color: #ffffff;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-size: 16px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-link);
  text-decoration: none;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-layer--circuit {
  background-image: url("../assets/images/background-image.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: 1;
}

.background-layer--gradient {
  background: var(--bg-gradient);
  background-size: 100% auto;
  background-position: top center;
  z-index: 2;
}

.form-select {
  min-width: fit-content;
  border-radius: 10px;
  font-size: 14px;
}

@media (max-width: 576px) {
  html {
    font-size: 14px !important;
  }

  body {
    font-size: 14px !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* CSS cho tablet */
}

@media (min-width: 769px) and (max-width: 992px) {
  /* CSS cho desktop nhỏ */
}

@media (min-width: 993px) and (max-width: 1200px) {
  /* CSS cho desktop */
}

@media (min-width: 1201px) {
  /* CSS cho desktop lớn */
}
